/Demonstrateur.class
/Restaurant.class
/Plat.class
/CompteUtilisateur.class
/Commande.class
/RestauType.class
/Restaurant$Type.class
/Statut.class
/Evaluation.class
/Client.class
/Categorie.class
/Comm.class
